# Assignment-9

## Q-1.  Write an SQL query to show the top n (say 10) records of a table.

select * from TABLE order by ID asc limit 10;

## Q-2. Write an SQL query to determine the nth (say n=5) highest salary from a table.

select top(1,SALARY)
from 

(select top(distinct(5,SALARY))
from TABLE
order by SALARY desc)
 
order by SALARY asc;